body {
  padding-top: 60px;
  padding-bottom: 30px;
}

.hidden {
  display: none;
}

.thumbnail {
  height: 180px;
}

.no-margin {
  margin: 0;
}

table.comments {
  margin: 0;
  list-style-type: none;
}

table.comments tr {

}

table.comments tr td div.user span.time {

}


